<h2>Update your information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :nickname %><br />
  <%= f.text_field :nickname %></div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :fname %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :lname %></div>

  <div><%= f.label :greek_class %><br />
  Upsilon <%= f.select(:greek_class, [['Alpha'], ['Beta'], ['Gamma'], ['Delta'], ['Epsilon'], ['Zeta'], ['Eta'], ['Theta'], ['Iota'], ['Lambda'], ['Mu'], ['Nu']]) %></div>

  <div><%= f.label :crossing_season %><br />
  <%= f.text_field :xseason, placeholder: "ex: Spring 08" %></div>

   <div><%= f.label :graduation_year%><br />
  <%= f.text_field :gradyr %></div>

  <div>
  <%= f.label :status %><br/>
  <%= f.select(:status, [['Active'], ['Alumnus']]) %> </div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


<% if can? :manage, Donation %>  
  
  <table id="user_donation_record">
    <tr>
      <td colspan="2">Your contributions</td>
    </tr>
    <tr>
      <td> Date </td>
      <td> Amount </td>
    </tr>
  <!-- show all users' contributions -->
  <% @donation.each do |d| %>
    <tr>
      <td> <%= print_date(d.created_at) %> </td>
      <td> <%= print_price(d.amt) %></td>
    </tr>
  <% end %>
  
  </table>
<% end %>

<%= link_to "Back", root_path %>