    <p class="notice end"><%= notice %></p>
    
<div class="signup_edit_form units-row">
  <div class="unit-100" id="new_account_header">
    <h1>new account</h1>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
   <div class="form_section unit-50" id="left_form_section">
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :nickname %><br />
          <%= f.text_field :nickname, autofocus: true %>
        </div>
      </div>
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :first_name %><br />
          <%= f.text_field :fname %>
        </div>
      </div>
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :last_name %><br />
          <%= f.text_field :lname %>
        </div>
      </div>
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :greek_class %><br />
          Upsilon <%= f.select(:greek_class, [['Alpha'], ['Beta'], ['Gamma'], ['Delta'], ['Epsilon'], ['Zeta'], ['Eta'], ['Theta'], ['Iota'], ['Lambda'], ['Mu'], ['Nu']]) %>
        </div>
      </div>
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :crossing_season %><br />
          <%= f.text_field :xseason, placeholder: "ex: Spring 08" %>
        </div>
      </div>
      <div class="units-row">
        <div class="unit-100">
          <%= f.label :status %><br/>
          <%= f.select(:status, [['Active'], ['Alumnus']]) %>
        </div>
      </div>
    </div>

  <div class="form_section unit-50">
    <div class="units-row">
      <div class="unit-100">
        <%= f.label :email %><br />
        <%= f.email_field :email%>
      </div>
    </div>
    <div class="units-row">
      <div class="unit-100">
        <%= f.label :password %><span> *min 8 characters</span><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
    <div class="units-row">
      <div class="unit-100">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
      <div><%= f.submit "Sign up" %></div>
      <br>
      <p><span>*Note all fields are required.</span></p>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>
