<%= form_for @semester, url: set_deadline_path, method: "post") do %>
	<p>Set Application Deadline: </p> <br/>
		<%= date_select :app, :app_deadline %>
	<br/>	
	<p>Set voting deadline: </p> <br/>
		<%= date_select :app, :vote_deadline %>

		<%= submit_tag ("Set Deadlines") %>
<% end %>


<br/>
<!-- RESET BUTTON (sets: all apps with status:opened to closed,  users with role:board set back to nil, and has_voted to false) -->
<p> To start a new semester, please click the below button. Note that this also means your committee board will be empty until Alumnaes donate again. </p>
	<%= form_tag(start_new_semester_path, method: "post") do %>
			<%= submit_tag ("start new semester"), id: "new_semester_button" %>
	<% end %>


<br/>

<!-- DONATION MANAGEMENT -->
<table id ="donation_record">
	<tr>
		<td> Contributer </td>
		<td> Amount </td>
		<td> Status </td>
	</tr>

	<% @donations.each do |d| %>
		<% if d.paid == false %>
		<tr>
			<td> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> 
			<%= form_tag(receive_donation_path, method: "post") do %>
				<%= hidden_field_tag(:donation_id, d.id) %>
				<%= submit_tag ("Not yet received") %>
			<% end %>
			</td>
		</tr>
		<% else %>
		<tr class="paid">
			<td> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> <%= button_tag "&check; Received".html_safe, disabled: true %> </td>
		</tr>
		<% end %>
	<% end %>
</table>


<%= link_to "Back", root_path %>