<h2>Chairmember's Control Panel</h2>

<!-- if semester.last.app_deadline is nil, show "please set an app deadline" else, show deadline -->

<%= "#{@scholarship_season}" %><br/>
<%= "Application deadline : #{@current_semester.app_deadline.to_formatted_s(:long) }"%><br/>
<%= "Vote deadline: #{@current_semester.vote_deadline.to_formatted_s(:long)}" %> <br/>

<%= form_for @semester, url: set_deadline_path do |f| %>
	<p>Set Application Deadline: 
		<%= f.date_select :app_deadline %> </p>
	<br/>	
	<p>Set voting deadline: 
		<%= f.date_select :vote_deadline %> </p>

		<%= f.submit "Set Deadlines" %>
<% end %>


<br/>

<!-- current applicants -->
<div id="applicant_wrapper">
	<h3><%= "Current Applicants for #{@scholarship_season}" %></h3>
		<% x = 1 %>
		<% @open_apps.each do |a| %>
			<%= "#{x}. #{a.user.fname} '#{a.user.nickname}' (votes: #{a.vote_count})" %> <br/>
			<% x+=1 %>
		<% end %>

<!-- if the vote deadline of semester.last is past today's date, enable the declare recipient button  -->
	<% if @check_vote_deadline %> 
		<p>Voting is now closed </p>
		<%= form_tag(declare_awardee_path, method: "post") do %>
				<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button" %>
		<% end %>

	<% else %>
		<p> Voting is still open.</p>
		<%= form_tag(declare_awardee_path, method: "post") do %>
			<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button", disabled: true %>
		<% end %>

	<% end %>

</div>

<div>
		<p> send an email </p>
		<%= form_tag(send_msg_path, method: "post") do %>
			<%= label_tag(:subject, "Subject") %>
			<%= text_field_tag(:subject) %><br/>
			<%= label_tag(:msg, "Message") %>
			<%= text_area_tag(:msg) %></br/>
			<%= submit_tag ("Send") %>
		<% end %>

</div>

<!-- DONATION MANAGEMENT -->
<table id ="donation_record">
	<tr>
		<td> Date </td>
		<td> Contributer </td>
		<td> Amount </td>
		<td> Status </td>
	</tr>

	<% @donations.each do |d| %>
		<% if d.paid == false %>
		<tr>
			<td> <%= print_date(d.created_at) %></td>
			<td> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> 
			<%= form_tag(receive_donation_path, method: "post") do %>
				<%= hidden_field_tag(:donation_id, d.id) %>
				<%= submit_tag ("Not yet received") %>
			<% end %>
			</td>
		</tr>
		<% else %>
		<tr class="paid">
			<td> <%= print_date(d.created_at) %></td>
			<td> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> <%= button_tag "&check; Received".html_safe, disabled: true %> </td>
		</tr>
		<% end %>
	<% end %>
</table>
