<h2>Chairmember Access</h2>

<div id="chair_welcome">
	<p><%= "Hello, #{current_user.fname}!" %></p>
	<!-- <p> Here you will have access to  -->
</div>


<!-- if semester.last.app_deadline is nil, show "please set an app deadline" else, show deadline -->
<%= "#{@scholarship_season}" %><br/>
<%= "Application deadline : <span class='date_ref'>#{@current_semester.app_deadline.to_formatted_s(:long) }</span>".html_safe%><br/>
<%= "Vote deadline: <span class='date_ref'>#{@current_semester.vote_deadline.to_formatted_s(:long)}</span>".html_safe %> <br/>

<%= form_for @semester, url: set_deadline_path do |f| %>
	<p>Set Application Deadline: </p>
		<p><%= f.date_select :app_deadline %> </p>
	<p>Set voting deadline:</p>
		<p><%= f.date_select :vote_deadline %> </p>

		<%= f.submit "Set Deadlines" %>
<% end %>


<br/>

<!-- current applicants -->
<div id="applicant_wrapper">
	<h3><%= "Current Applicants for #{@scholarship_season}" %></h3>
		<% x = 1 %>
		<% @open_apps.each do |a| %>
			<%= "#{x}. #{a.user.fname} '#{a.user.nickname}' (votes: #{a.vote_count})" %> <br/>
			<% x+=1 %>
		<% end %>

<!-- if the vote deadline of semester.last is past today's date, enable the declare recipient button  -->
	<% if @check_vote_deadline %> 
		<p>Voting is now closed </p>
		<%= form_tag(declare_awardee_path, method: "post") do %>
				<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button" %>
		<% end %>

	<% else %>
		<p> Voting is still open.</p>
		<%= form_tag(declare_awardee_path, method: "post") do %>
			<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button", disabled: true %>
		<% end %>

	<% end %>

</div>

<div>
		<p> send an email </p>
		<%= form_tag(send_msg_path, method: "post") do %>
			<%= select_tag(:rcpt, options_for_select([['Active', 'active'], ['Alumnae', 'alumnae'], ['Boardmembers', 'board'] ,['All', 'all']])) %>
			<%= label_tag(:subject, "Subject") %>
			<%= text_field_tag(:subject) %><br/>
			<%= label_tag(:msg, "Message") %>
			<%= text_area_tag(:msg) %></br/>
			<%= submit_tag ("Send") %>
		<% end %>

</div>

<!-- DONATION MANAGEMENT -->
<div id="table_wrapper">
<table class ="donation_record" id="chair_donation_record">
	<tr>
		<td colspan="4" class="table_title">Contribution History</td>
	</tr>
	<tr>
		<td> Date </td>
		<td class="wide_cell"> Contributor </td>
		<td> Amount </td>
		<td> Status </td>
	</tr>

	<% @donations.each do |d| %>
		<% if d.paid == false %>
		<tr>
			<td> <%= print_date(d.created_at) %></td>
			<td class="wide_cell"> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> 
			<%= form_tag(receive_donation_path, method: "post") do %>
				<%= hidden_field_tag(:donation_id, d.id) %>
				<%= submit_tag ("Not yet received") %>
			<% end %>
			</td>
		</tr>
		<% else %>
		<tr class="paid">
			<td> <%= print_date(d.created_at) %></td>
			<td class="wide_cell"> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </td>
			<td> <%= print_price(d.amt) %> </td>
			<td> <%= button_tag "&check; Received".html_safe, disabled: true %> </td>
		</tr>
		<% end %>
	<% end %>
</table>
</div>