
<h2 class="page_header">Chairmember Access</h2>


<div id="chair_welcome">
	<!-- instructions for chairperson -->
</div>

<div id="chair_page_top_wrapper">

	<div class="chair_section" id="deadline_wrapper">
	
		<p class="chair_header"><%= "#{@scholarship_season}" %></p>

		<% if @current_semester.app_deadline == nil %>
			<%= "No deadline is set yet" %>
		<% else %>
			<%= "Application deadline : <span class='date_ref'>#{@current_semester.app_deadline.to_formatted_s(:long) }</span>".html_safe%><br/>
			<%= "Vote deadline: <span class='date_ref'>#{@current_semester.vote_deadline.to_formatted_s(:long)}</span>".html_safe %> <br/>
		<% end %>
		<%= form_for @semester, url: set_deadline_path do |f| %>
			<p>Set Application Deadline: </p>
				<p><%= f.date_select :app_deadline %> </p>
			<p>Set Voting Deadline:</p>
				<p><%= f.date_select :vote_deadline %> </p>

				<%= f.submit "Set Deadlines" %>
		<% end %>
	</div>
		<!-- vote counts of current applicants -->
	<div class="chair_section" id="votecount_wrapper">
		<p class="chair_header" id="chair_header_apps">Applicants</p>
			<% x = 1 %>
			<% @open_apps.each do |a| %>
				<%= "#{x}. #{a.user.fname} '#{a.user.nickname}' (votes: #{a.vote_count})" %> <br/>
				<% x+=1 %>
			<% end %>

	<!-- if the vote deadline of semester.last is past today's date, enable the declare recipient button  -->
		<% if @check_vote_deadline %> 
			<p class="vote_notice">Voting is now closed </p>
			<%= form_tag(declare_awardee_path, method: "post") do %>
					<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button" %>
			<% end %>

		<% else %>
			<p class="vote_notice"> Voting is still open.</p>
			<%= button_tag "Declare Scholarship Awardee", id: "award_button", disabled: true %>
		<% end %>

	</div>

</div>

<div id="account_approval_wrapper">
<p>Member Requests</p>
<p>New members requests waiting for approval.</p>
	<% @unapproved_users.each do |u| %>
		<%= u.email %> | <%= link_to "Approve", approve_user_path(u) %><br/>
	<% end %>
</div>


<div id="email_wrapper">
	<div id="email_body">
		<div id="email_notice">
			<p> Send reminder emails to any group </p>
		</div>
		<h3> email to </h3>
		<%= form_tag(send_msg_path, method: "post") do %>
			<%= select_tag(:rcpt, options_for_select([['Actives', 'active'], ['Alumnae', 'alumnae'], ['Boardmembers', 'board'] ,['All', 'all']])) %>
			<div id="subject_field">
				<%= label_tag(:subject, "Subject") %><br/>
				<%= text_field_tag(:subject) %>
			</div>
			<div id="msg_field">
				<%= label_tag(:msg, "Message") %><br/>
				<%= text_area_tag(:msg) %>
			</div>
			<div id="button_wrapper">
				<%= submit_tag ("Send"), id: "submit_button" %>
			</div>
		<% end %>
	</div>
</div>

<!-- DONATION MANAGEMENT -->
<div class="table_wrapper">
	<div id="chair_donation_record">
		<div class="table_title">Contribution History</div>
			<div class="donation_row">
				<div class="date_column"> Date </div>
				<div class="name_column"> Contributor </div>
				<div class="amt_column"> Amount </div>
				<div class="status_column"> Status </div>
			</div>
		<% @donations.each do |d| %>
			<% if d.paid == false %>
				<div class="donation_row">
					<div class="date_column"><%= print_date(d.created_at) %></div>
					<div class="name_column"> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </div>
					<div class="amt_column"> <%= print_price(d.amt) %> </div>
					<div class="status_column"> 
						<%= link_to "Received", receive_donation_path(donation_id: d.id), method: :post, remote: true, class: "received_donation_button", id: d.id %>
					</div>
				</div>
			<% else %>
			<div class="donation_row">
				<div class="date_column"> <%= print_date(d.created_at) %></div>
				<div class="name_column"> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </div>
				<div class="amt_column"> <%= print_price(d.amt) %> </div>
				<div class="status_column"> <p class="donation_complete_button"> &check; </p> </div>
			</div>
			<% end %>
		<% end %>
	</div>
</div>