<div class="content_wrapper">

<!-- WELCOME LETTER -->
<div class="units-row">
	<div class="unit-centered unit-60" id="notice">
			<div id="header-date">
				<p> <%= @date.to_formatted_s(:long) %></p>
				 <%# if can? :manage, :chair %>
				     <!-- <br/> -->
				     <%#= link_to "Chairmember Access", users_chair_path %>
				 <%# end %>
			</div>

			<% if can? :read, @all_apps %>
				<p><%= "Hello Boardmember," %></p>
			<% else %>
				<p><%= "Hello #{current_user.status}," %></p>
			<% end %>

			<div class="notice_body">
				<div class="notice_title">Announcements</div>

				<div id="recent_award_recipient">
					<h4> Congratulations to the <%#= "#{@last_scholarship_season} recipient"%></h4>
					<h3 id="awardee_name"> <%#= @last_awardee %> </h3> 
				</div>

				<% if @semester.app_deadline == nil %>
					<p class="end"> No deadline is set yet for the next scholarship. </p>

				<% else %>
					<% if can? :create, @app %>
						<p class="end"> <%= "The application deadline is <hilite>#{print_date(@semester.app_deadline)}</hilite>. ".html_safe %>
							<% if @already_applied == true%>
								Thank you for applying!
							<% end %>
						 </p>
					<% elsif can? :read, @all_apps %>
						<p class="end"> <%= "Sisters have until <hilite>#{print_date(@semester.app_deadline)} </hilite> to submit applications. Voting will open after.".html_safe %></p>
					<% end %>
				<% end %>

				<% if can? :read, @all_apps %>
					<% if @semester.vote_deadline != nil %>
						<p class="end"><%= "When application voting opens, you have until <hilite>#{print_date(@semester.vote_deadline)}</hilite> to place your vote.".html_safe %></p>
					<% end %>
				<% end %>
				<em>If you have any questions, you can contact the current chairwoman, [name], at [email].</em>
			</div>

			<% if can? :manage, Donation %>

				<div class="notice_body">
					<div class="notice_title">Contribute to Phoenix Scholarship</div>
					<p class="end">Please show your support for our actives by contributing to our scholarship funds. Only sisters in the scholarship committee may have input on the recipient. To join the committee and be a board member, please make a contribution of any amount.</p>

						<!-- contribution request -->
						<div id="donation_wrapper">
							<%= form_for [@user, @donate], url: user_donations_path(current_user) do |d| %>
								<%= d.label :amount, "$" %>
								<%= d.text_field :amt %>
								<!-- once alumnus inputs an amount, enable option to be a board member -->
								<div id="be_board_member">
									<p class="end">Would you like to be a board member?</p>
										<%= check_box_tag :role, value ="yes", checked=false, {disabled: true} %>
										<%= label_tag(:role, "Yes") %>
								</div>

								<%= d.submit :send, id: "submit_button" %>

							<% end %> 
						</div>
				</div>

			<% end %>

			<% if can? :manage, :chair %>
			<div class="notice_body">
				<div class="notice_title">Chairmember Access</div>
				
				<div id="chair_welcome">
					<!-- instructions for chairperson -->
				</div>

				<!-- <div id="chair_page_top_wrapper"> -->

					<div class="chair_section" id="deadline_wrapper">
					
						<p class="chair_header"><%= "#{@scholarship_season}" %></p>

						<% if @current_semester.app_deadline == nil %>
							<%= "No deadline is set yet" %>
						<% else %>
							<%= "Application deadline : <span class='date_ref'>#{@current_semester.app_deadline.to_formatted_s(:long) }</span>".html_safe%><br/>
							<%= "Vote deadline: <span class='date_ref'>#{@current_semester.vote_deadline.to_formatted_s(:long)}</span>".html_safe %> <br/>
						<% end %>
						<%= form_for @semester, url: set_deadline_path do |f| %>
						<div class="deadline_box">
							<p>Set Application Deadline: </p>
								<p><%= f.date_select :app_deadline, order: [:month, :day, :year], end_year: Date.today.year + 1, start_year: Date.today.year %> </p>
						</div>
						<div class="deadline_box">
							<p>Set Voting Deadline:</p>
								<p><%= f.date_select :vote_deadline, order: [:month, :day, :year], end_year: Date.today.year + 1, start_year: Date.today.year %> </p>
						</div>

								<%= f.submit "Set Deadlines" %>
						<% end %>
					</div>
						<!-- vote counts of current applicants -->
					<div class="chair_section" id="votecount_wrapper">
						<p class="chair_header" id="chair_header_apps">Applicants</p>
						<div id="current_applicants">
							<% x = 1 %>
							<% @open_apps.each do |a| %>
								<%= "#{x}. #{a.user.fname} '#{a.user.nickname}' (votes: #{a.vote_count})" %> <br/>
								<% x+=1 %>
							<% end %>
						</div>
					<!-- if the vote deadline of semester.last is past today's date, enable the declare recipient button  -->
					<div class="award_button_wrapper">
						<% if @check_vote_deadline %> 

							<hilite>Voting is now closed </hilite><br/>
							<%= form_tag(declare_awardee_path, method: "post") do %>
									<%= submit_tag ("Declare Scholarship Awardee"), id: "award_button" %>
							<% end %>

						<% else %>
							<hilite> Voting is still open.</hilite><br/>
							<%= button_tag "Declare Scholarship Awardee", id: "award_button", disabled: true %>
						<% end %>
					</div>
					</div>

				<!-- </div> -->



				<div class="chair_section" id="account_approval_wrapper">
				<p class="chair_header">Member Requests</p>
				<p>New member requests waiting for approval.</p>
					<% @unapproved_users.each do |u| %>
						<%= u.email %> | <%= link_to "Approve", approve_user_path(u) %><br/>
					<% end %>
				</div>


				<div id="email_wrapper">
					<!-- <div id="email_body"> -->
						<!-- <div id="email_notice"> -->
							<p class="notice_title"> Email </p>
						<!-- </div> -->
						<%= form_tag(send_msg_path, method: "post") do %>
						<div class="email_field">
							<label>Send to </label>
							<%= select_tag(:rcpt, options_for_select([['Actives', 'active'], ['Alumnae', 'alumnae'], ['Boardmembers', 'board'] ,['All', 'all']])) %>
						</div>
							<div class="email_field" id="subject_field">
								<%= label_tag(:subject, "Subject") %><br/>
								<%= text_field_tag(:subject) %>
							</div>
							<div class="email_field" id="msg_field">
								<%= label_tag(:msg, "Message") %><br/>
								<%= text_area_tag(:msg) %>
							</div>
							<div id="button_wrapper">
								<%= submit_tag ("Send"), id: "submit_button" %>
							</div>
						<% end %>
					<!-- </div> -->
				</div>

			</div> <!-- end chairmember section -->
			<% end %>

	</div> <!-- end notice div -->



</div> <!-- end notice div wrapper -->

<% if can? :manage, :chair %>
				<!-- DONATION MANAGEMENT -->
				<div class="table_wrapper">
					<div id="chair_donation_record">
						<div class="table_title">Contribution History</div>
							<div class="donation_row">
								<div class="date_column"> Date </div>
								<div class="name_column"> Contributor </div>
								<div class="amt_column"> Amount </div>
								<div class="status_column"> Status </div>
							</div>
						<% @donations.each do |d| %>
							<% if d.paid == false %>
								<div class="donation_row">
									<div class="date_column"><%= print_date(d.created_at) %></div>
									<div class="name_column"> <%= "#{d.user.fname} aka #{d.user.nickname}" %> </div>
									<div class="amt_column"> <%= print_price(d.amt) %> </div>
									<div class="status_column"> 
										<%= link_to "Received", receive_donation_path(donation_id: d.id), method: :post, remote: true, class: "received_donation_button", id: d.id %>
									</div>
								</div>
							<% else %>
							<div class="donation_row">
								<div class="date_column"> <%= print_date(d.created_at) %></div>
								<div class="name_column"> <%= "#{d.user.fname} #{d.user.lname} aka #{d.user.nickname}" %> </div>
								<div class="amt_column"> <%= print_price(d.amt) %> </div>
								<div class="status_column"> <p class="donation_complete_button"> &check; </p> </div>
							</div>
							<% end %>
						<% end %>
					</div>
					</div>
<% end %>
</div>




<%= render partial: 'footer' %>