<div class="units-row" id="recent_award_recipient">
	<h4> Congratulations to the <%= "#{@last_scholarship_season} recipient"%></h4>
	<h3 id="awardee_name"> <%= @last_awardee %> </h3> 
</div>

<!-- WELCOME LETTER -->
<div class="units-row">
	<div class="unit-centered unit-60" id="notice">
			<% if can? :read, @all_apps %>
				<p><%= "Hello Boardmember," %></p>
			<% else %>
				<p><%= "Hello #{current_user.status}," %></p>
			<% end %>

			<div class="notice_body">
				<div class="notice_title">Announcements</div>
				<% if @semester.app_deadline == nil %>
					<p class="end"> No deadline is set yet for the next scholarship.</p>

				<% else %>
					<% if can? :create, @app %>
						<p class="end"> <%= "The application deadline is <hilite>#{print_date(@semester.app_deadline)}</hilite>. ".html_safe %>
							<% if @already_applied == true%>
								Thank you for applying!
							<% end %>
						 </p>
					<% elsif can? :read, @all_apps %>
						<p class="end"> <%= "Sisters have until <hilite>#{print_date(@semester.app_deadline)} </hilite> to submit applications. Voting will open after.".html_safe %></p>
					<% end %>
				<% end %>

				<% if can? :read, @all_apps %>
					<% if @semester.vote_deadline != nil %>
						<p class="end"><%= "When application voting opens, you have until <hilite>#{print_date(@semester.vote_deadline)}</hilite> to place your vote.".html_safe %></p>
					<% end %>
				<% end %>
				<em>If you have any questions, you can contact the current chairwoman, [name], at [email].</em>
			</div>

			<% if can? :manage, Donation %>

				<div class="notice_body">
					<div class="notice_title">Contribute to Phoenix Scholarship</div>
					<p class="end">Please show your support for our actives by contributing to our scholarship funds. Only sisters in the scholarship committee may have input on the recipient. To join the committe and be a board member, please make a contribution of any amount.</p>

						<!-- contribution request -->
						<div id="donation_wrapper">
							<%= form_for [@user, @donate], url: user_donations_path(current_user) do |d| %>
								<%= d.label :amount, "$" %>
								<%= d.text_field :amt %>
								<!-- once alumnus inputs an amount, enable option to be a board member -->
								<div id="be_board_member">
									<p class="end">Would you like to be a board member?</p>
										<%= check_box_tag :role, value ="yes", checked=false, {disabled: true} %>
										<%= label_tag(:role, "Yes") %>
								</div>

								<%= d.submit :send, id: "submit_button" %>

							<% end %> 
						</div>
				</div>

			<% end %>

	</div>
</div>


<!-- SHOW NEWS (EX: RECIPIENT, DEADLINES, ETC) -->
<div id="newsbox" class="infobox">
		<h3 class="index_title" id="new_header_l">NEW</h3>
		<h3 class="index_title" id="new_header_r">NEWS</h3>

</div>



<div id="linkbox" class="infobox">
	<ul class="sidebar">
		<% if can? :manage, :chair %>
		<li> <%= link_to "Chairmember Access", users_chair_path %> </li>
		<li> <%= link_to "Application Archive", apps_archive_path %> </li>
		<% end %>

		<% if can? :read, @all_apps %>
			<% if @voting_closed %>
				<li> Voting has closed. </li>
			<% else %>
				<li> <%= link_to "Review Current Applications", apps_review_path %> </li>
			<% end %>
		<% end %>

		<% if can? :create, @app %>
			<!-- if user has already applied -->
			<% if @already_applied == current_user.id %>
				<li> Application received. </li>
			<!-- if app deadline is past or if current user has already submitted app for current semester -->
			<% elsif @app_deadline_past %>
				<li> Applications are closed, the deadline has past.</li>
				<!-- if user status is active -->
			<% else %>
				<li> <%= link_to "Apply", new_user_app_path(current_user) %> </li>
			<% end %>
		<% end %>

			<li> <%= link_to "My Applications Archive", user_apps_path(current_user) %> </li>

		<li> <%= link_to "Members", users_roster_path %> </li>

	</ul>
		<% if can? :manage, :chair %>
			<p></p>
		<% elsif can? :manage, Donation %>
			<p>Note to Alumnae : Each semester, a new committee is gathered to review applications. In order to be a part of this committee, please contribute to the scholarship funds in the left hand side. </p>
		<% end %>

</div>

