<div id="landing_page">

  <div class="units-row end"id="kpl_wrapper">
  	<h1 class="unit-100 end" id="kpl_main">KPL</h1>
  	<p class="unit-100 end" id="subline">upsilon chapter's</p>
  	<p class="unit-100 end" id="subline2">phoenix scholarship</p>
  </div>

  <div class="units-row end" id ="sign_in_form">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="email"><%= f.label :email %>
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %></div>

    <div><%= f.submit "Enter", {:id => 'submit_button'}%></div>
  <% end %>

  </div>

  <div id="sign_in_links">
  <%= render "devise/shared/links" %>
  </div>

</div>