<% @all_apps.each_with_index do |a, x| %>
<div class="review_app_wrapper">

	<%= content_tag_for :div, a, class: "hidden" do %>

		<div id="application_form">

			<div id="form_header"><h2><%= "#{a.user.fname} '#{a.user.nickname}' #{a.user.lname}" %></h2>
			</div>
			
			<div>
				<span class="app_q">Class:</span>
				<%= a.user.greek_class %>
			</div>

			<div>
				<span class="app_q">Number of semesters active</span>
				<%= a.semester_active %>
			</div>

			<div>
				<span class="app_q">List any and all semesters you have been inactive. If you would like, you may include an explanation.</span>
				<div class="answer"><%= a.semester_inactive %></div>
			</div>

			<div class="app_section_title">academic</div>

			<div>
				<span class="app_q">GPA</span>
				<%= a.gpa %>
			</div>

			<div>
				<span class="app_q">Credits accumulated to date</span>
				<%= a.credit_count%>
			</div>

			<div>
				<span class="app_q">Major(s)</span>
				<%= a.major %>
			</div>

			<div>
				<span class="app_q">Minor(s)</span>
				<%= a.minor %>
			</div>

			<div>
				<span class="app_q">If applicable, list the semester(s) on which you have been on academic probation.</span>
				<div class="answer"><%= a.academic_probation %></div>
			</div>

			<div>
				<span class="app_q">What are your post-graduation or professional goals?</span>
				<div class="answer"><%= a.post_grad_goal %></div>
			</div>

			<div class="app_section_title">sisterhood</div>
			
			<div>
				<span class="app_q">Position(s) held this semester</span>
				<div class="answer"><%= a.current_position %></div>
			</div>

			<div>
				<span class="app_q">Position(s) held previous semester(s)</span>
				<div><%= a.past_position %></div>
			</div>

			<div>
				<span class="app_q">List all accomplishments for position(s) held.</span>
				<div class="answer"><%= a.position_accomplishment %></div>
			</div>

			<div>
				<span class="app_q">List sister events you attended in previous and current semesters</span>
				<div class="answer"><%= a.sis_events %></div>
			</div>

			<div>
				<span class="app_q">If applicable, describe your involvement in the planning of any community service events.</span>
				<div class="answer"><%= a.sis_event_planning %></div>
			</div>

			<div>
				<span class="app_q">What is your proudest achievement as a sister of Kappa Phi Lambda?</span>
				<div class="answer"><%= a.achievement %></div>
			</div>

			<div>
				<span class="app_q">What is one thing you hope to improve about the sorority on the chapter and/or national level?</span>
				<div class="answer"><%= a.org_improvement %></div>
			</div>

			<div class="app_section_title">service</div>

			<div class="app_section_title">cultural diversity</div>

			<div class="app_section_title">supporting documents</div>

			<div>
				<span class="app_q">Cover Letter: In business letter format, explain why you should receive the scholarship.</span>
				<div class="answer"><%= a.cv %></div>
			</div>
		</div>

	
		<!-- if current semester's vote deadline has not past yet, disable button else... -->
			<!-- if user has not voted yet, she will be able to see the vote button else... -->
				<!-- disable button -->
		<% if @no_voting == false%>
			<div class="vote_notice">
				<%=  "Voting has not opened yet." %><br/>
				<%= "You may cast your vote on #{print_date(@vote_deadline)}." %>
			</div>
		<% else %>
			<% if can? :read, @all_apps %>
				<% if current_user.has_voted == false %>
					<%= form_tag(castvote_path, method: "post") do %>
							<%= hidden_field_tag(:app_id, a.id) %>
							<%= submit_tag ("Cast Vote"), id: "vote_button" %>
					<% end %>
					<% else %>
					<div class="vote_notice"><%=  "Thanks for voting!" %></div>
				<% end %>
			<% end %>
		<% end %>

	<% end %>
</div>

<% end %>


