<div class="content_wrapper">

<h2> Application Archive </h2>

<% @archive.each do |a| %>
	<%= "GPA : #{a.gpa}" %>
	<%= "Current Position(s) : #{a.current_position}" %><br/>
	<%= "Past Position(s) : #{a.past_position}" %> <br/>
	<%= "Sister Events Attended : #{a.sis_events}" %> <br/>
	<%= "Proudest Achievement : #{a.achievement}" %>
		<hr/>
<% end %>

</div>

<%= render partial: 'footer' %>