<h2>Apps#index</h2>

<% @apps.each do |a| %>
	<%= "GPA : #{a.gpa}" %>
	<%= "Current Position(s) : #{a.current_position}" %><br/>
	<%= "Past Position(s) : #{a.past_position}" %> <br/>
	<%= "Sister Events Attended : #{a.sis_events}" %> <br/>
	<%= "Proudest Achievement : #{a.achievement}" %>

<hr>
<% end %>

<%= link_to "Back", user_path(current_user) %>


