

<h2> My Past Applications </h2>

<% @apps.each do |a| %>
	<%= "GPA : #{a.gpa}" %>
	<%= "Current Position(s) : #{a.current_position}" %><br/>
	<%= "Past Position(s) : #{a.past_position}" %> <br/>
	<%= "Sister Events Attended : #{a.sis_events}" %> <br/>
	<%= "Proudest Achievement : #{a.achievement}" %><br/>

	<%= link_to "view app", user_app_path(current_user, a) %>
<hr>
<% end %>




