      
<div class="content_wrapper">
      <!-- if user has already applied -->

      <% if @already_applied == current_user.id %>
        <p class="apply_notice"> Application received. </p>
      <!-- if app deadline is past or if current user has already submitted app for current semester -->
      <% elsif @app_deadline_past %>
        <p class="apply_notice"> Applications are closed, the deadline has past.</p>
        <!-- if user status is active -->
      <% else %>
       


<div id="application_form">

	<%= form_for [@user, @app], url: user_apps_path do |f| %>
		<div id="form_header"><h2> Application for <%= "#{@scholarship_season}" %> </h2></div>
		
		<div>
			<%= f.label :semester_active, "Number of semesters active", class: "short_q"%>
			<%= f.text_field :semester_active, id: "input_num" %>
		</div>
		
		<div>
			<%= f.label :semester_inactive, "List any and all semesters you have been inactive. If you would like, you may include an explanation.", class: "long_q" %>
			<%= f.text_area :semester_inactive %>
		</div>

		<div class="app_section_title">academic</div>
		<div>
			<%= f.label :gpa, "Cumulative GPA", class: "short_q"%>
			<%= f.text_field :gpa, id: "input_num" %>
		</div>

		<div>
			<%= f.label :credit_count, "Credits accumulated to date", class: "short_q"%>
			<%= f.text_field :credit_count, id: "input_num" %>
		</div>
		
		<div>
			<%= f.label :major, "Major(s)", class: "long_q"%>
			<%= f.text_field :major %>
		</div>
		<div>
			<%= f.label :minor, "Minor(s)", class: "long_q"%>
			<%= f.text_field :minor %>
		</div>
		<div>
			<%= f.label :academic_probation, "If applicable, list the semester(s) on which you have been on academic probation.", class: "long_q"%>
			<%= f.text_field :academic_probation %>
		</div>

		<div>
			<%= f.label :post_grad_goal, "What are your post-graduation or professional goals?", class: "long_q" %>
			<%= f.text_area :post_grad_goal %>
		</div>

		<div class="app_section_title">sisterhood</div>
		<div>
			<%= f.label :current_position, "Position(s) held this semester", class: "long_q" %>
			<%= f.text_field :current_position %>
		</div>
		<div>
			<%= f.label :past_position, "Position(s) held previous semester(s)", class: "long_q" %>
			<%= f.text_field :past_position %>
		</div>

		<div class="for_textarea">
			<%= f.label :position_accomplishment, "List all accomplishments for position(s) held.", class: "long_q" %>
			<%= f.text_area :position_accomplishment %>
		</div>

		<div class="for_textarea">
			<%= f.label :sis_events, "List sister events you attended in previous and current semesters", class: "long_q" %>
			<%= f.text_area :sis_events %>
		</div>

		<div class="for_textarea">
			<%= f.label :sis_event_planning, "If applicable, describe your involvement in the planning of any community service events.", class: "long_q" %>
			<%= f.text_area :sis_event_planning %>
		</div>

		<div class="for_textarea">
			<%= f.label :achievement, "What is your proudest achievement as a sister of Kappa Phi Lambda?", class: "long_q" %>
			<%= f.text_area :achievement %>
		</div>

		<div class="for_textarea">
			<%= f.label :org_improvement, "What is one thing you hope to improve about the sorority on the chapter and/or national level?", class: "long_q" %>
			<%= f.text_area :org_improvement %>
		</div>

		<div class="app_section_title">service</div>
		<div class="app_section_title">cultural diversity</div>
		<div class="app_section_title">supporting documents</div>

		<div class="for_textarea">
			<%= f.label :cv, "Cover Letter: In business letter format, explain why you should receive the scholarship.", class: "long_q" %>
			<%= f.text_area :cv %>
		</div>
		<div id="button_wrapper">
			<%= f.submit :apply, id: "submit_button" %>
</div>
	<% end %> 

</div>

<% end %>

</div>




<%= render partial: 'footer' %>