<div id="app_selection">
	<% x = 1 %>
	<% @all_apps.each do |a| %>
		
		<% x += 1%>
	<% end %>
</div>

	<% x= 1 %>
		<% @all_apps.each do |a| %>
		<div class="review_app_wrapper">
			<%= "<div class='app_num' id='link_app#{x}'> #{x}</div>".html_safe %>
				<%= "<div class='review_app' id='app#{x}'>".html_safe %>

					<div id="application_form">
					<table>
						<tr>
							<td colspan="3" id="form_header"><h2><%= "#{a.user.fname} '#{a.user.nickname}' #{a.user.lname}" %></h2>
							</td>
						</tr>
						<tr>
							<td class="app_q">Number of semesters active</td>
							<td><%= a.semester_active %></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">List any and all semesters you have been inactive. If you would like, you may include an explanation.</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.semester_inactive %></td>
						</tr>

						<tr>
						<td colspan="3"><div class="app_section_title">academic</div></td>
						</tr>
						<tr>
							<td class="app_q">GPA</td>
							<td><%= a.gpa %></td>
						</tr>
						<tr>
							<td class="app_q">Credits accumulated to date</td>
							<td><%= a.credit_count%></td>
						</tr>
						<tr>
							<td class="app_q">Major(s)</td>
							<td><%= a.major %></td>
						</tr>
						<tr>
							<td class="app_q">Minor(s)</td>
							<td><%= a.minor %></td>
						</tr>
						<tr>
							<td class="app_q">If applicable, list the semester(s) on which you have been on academic probation.</td>
							<td><%= a.academic_probation %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">What are your post-graduation or professional goals?</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.post_grad_goal %></td>
						</tr>
						<tr>
						<td colspan="3"><div class="app_section_title">sisterhood</div></td>
						</tr>
						<tr>
							<td class="app_q">Position(s) held this semester</td>
							<td><%= a.current_position %></td>
						</tr>
						<tr>
							<td class="app_q">Position(s) held previous semester(s)</td>
							<td><%= a.past_position %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">List all accomplishments for position(s) held.</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.position_accomplishment %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">List sister events you attended in previous and current semesters</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.sis_events %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">If applicable, describe your involvement in the planning of any community service events.</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.sis_event_planning %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">What is your proudest achievement as a sister of Kappa Phi Lambda?</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.achievement %></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">What is one thing you hope to improve about the sorority on the chapter and/or national level?</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.org_improvement %></td>
						</tr>
						<tr>
						<td colspan="3"><div class="app_section_title">service</div></td>
						</tr>
						<tr>
						<td colspan="3"><div class="app_section_title">cultural diversity</div></td>
						</tr>
						<tr>
						<td colspan="3"><div class="app_section_title">supporting documents</div></td>
						</tr>
						<tr>
							<td colspan="3" class="app_q">Cover Letter: In business letter format, explain why you should receive the scholarship.</td>
						</tr>
						<tr>
							<td colspan="3"><%= a.cv %></td>
						</tr>

					</table>
				</div>
				<% x+=1 %>
		
		<!-- if user has not voted yet, she will be able to see the vote button -->
				
				
				<% if can? :read, @all_apps %>
					<% if current_user.has_voted == false %>
						<%= form_tag(castvote_path, method: "post") do %>
								<%= hidden_field_tag(:app_id, a.id) %>
								<%= submit_tag ("Cast Vote"), id: "vote_button" %>
						<% end %>
						<% else %>
						<%= button_tag "Voted", disabled: true, id: "vote_button" %>
					<% end %>
				<% end %>

				</div>
			</div>

		<% end %>


