<!DOCTYPE html>
<html>
<head>
  <title>Project Phoenix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700italic|Open+Sans:400,800|Gentium+Book+Basic:700italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <header id="header_wrapper">
    <div class="units-row" id="navbar">
        <ul class="unit-push-right unit-25">
          <li><%= link_to "#{current_user.fname}", root_path %></li>
          <li><%= link_to "my account", edit_user_registration_path %> </li>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
        </ul>
    </div>
    <div class="units-row end">
      <div class="unit-push-right unit-25">
      <%= @date %>
        <% if can? :manage, :chair %>
            <br/>
            <%= link_to "Chairmember Access", users_chair_path %>
        <% end %>
      </div>
    </div>

    <div class="units-row end units-mobile-50">
      <div class="unit-push-10 unit-25" id="header_crest">
        <div id="crest_title">phoenix scholarship</div>
      </div>
    </div>

  </header>
<% end %>

<div id="content_wrapper">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
